:root{
    --correct: #538D4E;
    --incorrect: #3A3A3C;
    --inWord: #B59F3B;
    --border-color: #3a3a3c;
    --initial-border-color: #3a3a3c;
    /* --bg-color-dark: #121213; */
    --bg-color-dark: #0f172a;
}

.row {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .row > div {
    display: block;
    width: 54px;
    height: 54px;
    border: 1px solid var(--initial-border-color);
    margin: 3px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    background-color: var(--bg-color-dark);
  }

  .row > div.correctGuess {
    --background: var(--correct);
    --border-color: var(--correct);
    animation: flip 500ms ease forwards;
  }
  .row > div.incorrectGuess {
    --background: var(--incorrect);
    --border-color: var(--incorrect);
    animation: flip 500ms ease forwards;
  }
  .row > div.inWordGuess {
    --background: var(--inWord);
    --border-color: var(--inWord);
    animation: flip 500ms ease forwards;
  }

  .row > div.notInWord {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .row.current > div.filled {
    animation: bounce 0.2s ease-in-out forwards;
  }

  @keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
      background: var(--background);
      border-color: var(--border-color);
    }
  
    100% {
      transform: scaleY(1);
      background: var(--background);
      border-color: var(--border-color);
    }
  }

  @keyframes bounce {
    0% { 
      transform: scale(1);
      border-color: var(--border-color);
    }
    50% { 
      transform: scale(2);
    }
    100% {
      transform: scale(1);
      border-color: #565758;
    }
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }