#settings_gear:hover {
    background: none !important;
}

#settings-title {
    text-align: center;
    font-size: 25px;
}

#dialog-window {
   color: #121213; 
}

.dialog-section-title {
    font-size: 24px !important;
    font-weight: 800 !important;
    margin-bottom: 0.25em !important;
}

#settings-dialog-box {
    width: 500px;
}

.section-item-name {
    font-weight: 600 !important;
    font-size: 18px !important;
}

.setting-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-section:not(:last-child) {
    margin-bottom: 1.5em;
}

.settings-item-row:not(:last-child) {
    margin-bottom: 0.75em;
}